<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">

</head>
<header>
  <div class = "flex-row justify-center p-3">
    <h7> A music app where you can share, comment, post, or simply listen.</h7>
  </div>
</header>

