<div class="row">
  <div class="col-md-6">
    <h2>Post</h2>

  {{#each songs as |song| }}

  {{ song.song_name }}


  {{/each}}

<button id="upload_widget" class="cloudinary-button">Upload files</button>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'deubd4mph', 
  uploadPreset: 'paup0jwu'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>

{{!-- <script src="./js/login.js"></script> --}}
