header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: #F8F8F8;
}

/* background-color: #F8F8F8; */

/* .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
} */

.no-button:hover {
  color: #430a6e;
  text-decoration: underline;
}


.fig {
  width: 100px;
  height: 100px;
}


.outline {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

#footer {
  color: whitesmokes;
  text-align: center;
  padding: 20px;
  font-size: larger;
  border: 2px solid;
}

nav {
  font-size: 25px;
}

h7 {
  font-family: 'Andale Mono', monospace;
}